<div class="row" style="margin: 25px;">
    <div class="col">
        <table class="pingpong" align="center">
            <tr>
                <td style="padding: 25px;">
                    <button mat-raised-button color="primary" (click)="pingpong()">Ping</button>
                </td>
                <td>
                    {{pong}} <span *ngIf="pongCounter"> {{pongCounter}} </span>
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="row" style="margin:25px">
    <div class="col">
        Podaj liczby (calkowite oddzielone przecinkiem): 
        <textarea matInput type="text" [(ngModel)]="this.numbersString" (input)="submitNumbers()" style="width:100%"></textarea>
    </div>
    <div class="col">
        <mat-slide-toggle (click)="onChangeOrder()" [(ngModel)]="this.orderByAscending"> Order by Ascending </mat-slide-toggle>
    </div>
    <div class="col">
        <button mat-raised-button color="primary" (click)="submitNumbers()">Submit numbers</button>
    </div>
    <div class="col">
        Wynik: 
        <textarea matInput type="text" [(ngModel)]="this.responseString" disabled="true" style="width:100%"></textarea>
    </div>
</div>
