<div class="row">
    <div class="col">
        <button (click)="pingpong()">Ping</button>
        {{pong}} <span *ngIf="pongCounter">{{pongCounter}}</span>
    </div>
    <div class="col">
        <input type="text" [(ngModel)]="this.numbersString">
        <mat-checkbox (input)="onChangeOrder()" [(ngModel)]="this.toggleOrder">ASC / DESC</mat-checkbox>
        <button (click)="submitNumbers()">Submit numbers</button>
    </div>
    <div class="col">
        Wynik: {{numbersResponse}}
    </div>
</div>
