<div class="row" style="margin: 25px;">
    <div class="col">
        <table class="pingpong" align="center">
            <tr>
                <td style="padding: 25px;">
                    <button mat-raised-button color="primary" (click)="pingpong()">Ping</button>
                </td>
                <td>
                    {{pong}} <span *ngIf="pongCounter"> {{pongCounter}} </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row" style="margin:25px; text-align: center;">
    <div class="col">
        Podaj liczby (calkowite oddzielone przecinkiem): 
        <textarea matInput type="text" [(ngModel)]="this.numbersString" (input)="submitNumbers()" style="width:100%"></textarea>
    </div>
    <div class="col" style="margin: auto;">
        <mat-slide-toggle (click)="onChangeOrder()" [(ngModel)]="this.orderByAscending">
            <span *ngIf="orderByAscending">Ascending order</span>
            <span *ngIf="!orderByAscending">Descending order</span>
        </mat-slide-toggle>
    </div>
    <div class="col">
        Wynik: 
        <textarea matInput type="text" [(ngModel)]="this.responseString" disabled="true" style="width:100%"></textarea>
    </div>
</div>
<div class="row" style="margin: 25px; padding-top: 75px; text-align: center;">
    <div class="col">
        Kurs wymiany PLN dla:
        <input matInput type="text" [(ngModel)]="this.currencyRequest" placeholder="CHF" (input)="clearExchange()">
    </div>
    <div class="col">
        <button mat-raised-button color="primary" (click)="postExchangeRequest(currencyRequest)"> Check exchange</button>
    </div>
    <div class="col">
        <p style="font-weight: 600;"> 1 {{currencyRequest}} = {{exchangeResponse}} <span *ngIf="exchangeResponse"> PLN </span> </p>
    </div>
</div>